<form (ngSubmit)="addTransaction()" class="transaction-form">
  <!-- TYPE -->

  <div class="type-toggle">
    <button
      type="button"
      [class.active]="type === 'Expense'"
      (click)="type = 'Expense'"
    >
      Expense
    </button>

    <button
      type="button"
      [class.active]="type === 'Income'"
      (click)="type = 'Income'"
    >
      Income
    </button>

    <button
      type="button"
      [class.active]="type === 'Transfer'"
      (click)="type = 'Transfer'"
    >
      Transfer
    </button>
  </div>

  <!-- AMOUNT -->

  <div class="form-group">
    <label>Amount</label>

    <input type="number" [(ngModel)]="amount" name="amount" placeholder="₹ 0" />
  </div>

  <!-- CATEGORY -->

  <div class="form-group">
    <label>Category</label>

    <div class="category-chips">
      <button
        type="button"
        *ngFor="let c of categories"
        class="chip"
        [class.active-chip]="selectedCategory === c"
        (click)="selectedCategory = c"
      >
        {{ c }}
      </button>
    </div>
  </div>

  <!-- ACCOUNT -->

  <div class="form-group">
    <label>Account</label>

    <select [(ngModel)]="account" name="account">
      <option *ngFor="let acc of accounts" [value]="acc.name">
        {{ acc.name }}
      </option>
    </select>
  </div>

  <!-- NOTES -->

  <div class="form-group">
    <label>Notes</label>

    <input
      type="text"
      [(ngModel)]="notes"
      name="notes"
      placeholder="Optional note..."
    />
  </div>

  <!-- DATE -->

  <div class="form-group">
    <label>Date</label>

    <input type="date" [(ngModel)]="date" name="date" />
  </div>

  <!-- BUTTON -->

  <button type="submit" class="submit-btn">
    {{ editMode ? "Update Transaction" : "Add Transaction" }}
  </button>
</form>
