<h2>Transactions</h2>

<div class="filters">
  <select [(ngModel)]="selectedAccount">
    <option value="">All Accounts</option>
    <option *ngFor="let acc of accounts" [value]="acc.name">
      {{ acc.name }}
    </option>
  </select>

  <select [(ngModel)]="selectedType">
    <option value="">All Types</option>
    <option value="Income">Income</option>
    <option value="Expense">Expense</option>
  </select>

  <div class="month-wrapper">
    <input type="month" [(ngModel)]="selectedMonth" />
    <span>Month</span>
  </div>

  <button class="export-btn" (click)="exportCSV()">Export</button>
</div>
<div class="transaction-scroll">
  <ul>
    <li
      *ngFor="let t of filteredTransactions(); let i = index"
      class="transaction-card"
      [ngClass]="{
        'income-card': t.type === 'Income',
        'expense-card': t.type === 'Expense',
      }"
    >
      <div class="left">
        <strong>₹{{ t.amount }}</strong>
        <span class="category">{{ t.category }}</span>
        <span class="account">({{ t.account }})</span>
        <div class="date">{{ t.date }}</div>
      </div>

      <div class="right">
        <button (click)="editTransaction(t, i)">Edit</button>
        <button class="delete" (click)="deleteTransaction(i)">Delete</button>
      </div>
    </li>
  </ul>
</div>
