<div class="goals-page">
  <!-- HEADER -->

  <div class="page-header">
    <div>
      <h1>Savings Goals</h1>

      <p>Track your future financial goals</p>
    </div>

    <button class="add-goal-btn" (click)="showModal = true">+ Add Goal</button>
  </div>

  <!-- GRID -->

  <div class="goals-grid">
    <div class="goal-card" *ngFor="let goal of goals">
      <button class="delete-btn" (click)="deleteGoal(goal.title)">✕</button>

      <div class="goal-title">
        {{ goal.title }}
      </div>

      <div class="goal-amount">
        ₹{{ goal.saved }}

        <span> / ₹{{ goal.target }} </span>
      </div>

      <!-- PROGRESS -->

      <div class="goal-bar">
        <div
          class="goal-fill"
          [style.width.%]="getProgress(goal.saved, goal.target)"
          [style.background]="goal.color"
        ></div>
      </div>

      <div class="goal-percent">
        {{ getProgress(goal.saved, goal.target) | number: "1.0-0" }}%
      </div>

      <!-- SAVE MONEY -->

      <div class="goal-actions">
        <input
          type="number"
          placeholder="Add savings"
          [(ngModel)]="savingsAmount[goal.title]"
        />

        <button (click)="addSavings(goal)">Save</button>
      </div>
    </div>
  </div>

  <!-- MODAL -->

  <div class="modal-overlay" *ngIf="showModal">
    <div class="goal-modal">
      <h2>Add Goal</h2>

      <input type="text" placeholder="Goal name" [(ngModel)]="newTitle" />

      <input
        type="number"
        placeholder="Target amount"
        [(ngModel)]="newTarget"
      />

      <input type="color" [(ngModel)]="newColor" />

      <div class="modal-actions">
        <button class="cancel-btn" (click)="showModal = false">Cancel</button>

        <button class="save-btn" (click)="addGoal()">Create Goal</button>
      </div>
    </div>
  </div>
</div>
