<!-- LOADING SCREEN -->

<div *ngIf="!authService.authReady || !appReady" class="app-loader">
  <div class="loader"></div>
</div>

<!-- APP -->

<div *ngIf="authService.authReady && appReady">
  <!-- AUTH PAGE -->

  <div *ngIf="hideLayout">
    <router-outlet> </router-outlet>
  </div>

  <!-- MAIN APP -->

  <div class="app-layout" *ngIf="!hideLayout">
    <!-- MOBILE OVERLAY -->

    <div
      class="mobile-overlay"
      *ngIf="sidebarOpen"
      (click)="toggleSidebar()"></div>

    <!-- SIDEBAR -->

    <app-sidebar
      [class.mobile-open]="sidebarOpen"
      (closeMenu)="sidebarOpen = false">
    </app-sidebar>

    <!-- MAIN CONTENT -->

    <main class="main-content">
      <!-- MOBILE TOPBAR -->

      <div class="mobile-topbar">
        <button class="menu-btn" (click)="toggleSidebar()">☰</button>

        <div class="mobile-logo">Fintrack</div>
      </div>

      <router-outlet> </router-outlet>
    </main>
  </div>

  <!-- NAME ONBOARDING -->

  <div class="onboarding-overlay" *ngIf="showNameModal">
    <div class="onboarding-modal">
      <div class="onboarding-logo">👋</div>

      <h1>Welcome to Fintrack</h1>

      <p>What should we call you?</p>

      <input
        type="text"
        placeholder="Enter your name"
        [(ngModel)]="displayName" />

      <button (click)="saveDisplayName()">Continue</button>
    </div>
  </div>

  <!-- FIRST ACCOUNT ONBOARDING -->

  <div class="onboarding-overlay" *ngIf="showOnboarding">
    <div class="onboarding-modal">
      <div class="onboarding-logo">₹</div>

      <h1>Welcome to Fintrack</h1>

      <p>Create your first account to start tracking finances.</p>

      <select [(ngModel)]="accountName">
        <option value="">Select Bank Account</option>

        <option *ngFor="let bank of banks" [value]="bank">
          {{ bank }}
        </option>
      </select>

      <input
        type="number"
        placeholder="Starting Balance"
        [(ngModel)]="accountBalance"
        (focus)="selectInput($event)" />

      <button (click)="createFirstAccount()">Continue</button>
    </div>
  </div>
</div>

<div class="update-overlay" *ngIf="updateService.updateAvailable">
  <div class="update-modal">
    <h3>Update Available</h3>

    <p>A new version of FinTrack is ready.</p>

    <button (click)="updateService.updateApp()">Update Now</button>
  </div>
</div>
