<div class="sidebar">
  <!-- MOBILE CLOSE -->

  <button class="mobile-close" *ngIf="isMobile" (click)="closeSidebar()">
    ✕
  </button>

  <!-- LOGO -->

  <div class="logo">
    <div class="logo-icon">₹</div>
    <h2>Fintrack</h2>
  </div>

  <!-- MAIN -->

  <div class="section-title">MAIN</div>

  <nav>
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      Dashboard
    </a>

    <a
      routerLink="/transactions"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      Transactions
    </a>

    <a
      routerLink="/analytics"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      Analytics
    </a>
  </nav>

  <!-- MONEY -->

  <div class="section-title second">MONEY</div>

  <nav>
    <a
      routerLink="/accounts"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      Accounts
    </a>

    <a
      routerLink="/transfers"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      Transfers
    </a>

    <a
      routerLink="/budgets"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      Budgets
    </a>

    <a
      routerLink="/goals"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      Goals
    </a>

    <a
      routerLink="/recurring"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      Recurring
    </a>
  </nav>
</div>
