<div class="sidebar">
  <!-- MOBILE CLOSE -->
  <button class="mobile-close" *ngIf="isMobile" (click)="closeSidebar()">
    ✕
  </button>

  <!-- LOGO -->
  <div class="logo">
    <div class="logo-icon">₹</div>
    <h2>Fintrack</h2>
  </div>

  <!-- MAIN -->
  <div class="section-title">MAIN</div>

  <nav>
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      <i class="ti ti-layout-dashboard"></i> Dashboard
    </a>
    <a
      routerLink="/transactions"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      <i class="ti ti-arrows-right-left"></i> Transactions
    </a>
    <a
      routerLink="/analytics"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      <i class="ti ti-chart-pie"></i> Analytics
    </a>
  </nav>

  <!-- MONEY -->
  <div class="section-title second">MONEY</div>

  <nav>
    <a
      routerLink="/accounts"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      <i class="ti ti-building-bank"></i> Accounts
    </a>
    <a
      routerLink="/transfers"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      <i class="ti ti-switch-horizontal"></i> Transfers
    </a>
    <a
      routerLink="/budgets"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      <i class="ti ti-wallet"></i> Budgets
    </a>
    <a
      routerLink="/goals"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      <i class="ti ti-target"></i> Goals
    </a>
    <a
      routerLink="/recurring"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      <i class="ti ti-repeat"></i> Recurring
    </a>

    <a
      routerLink="/lent-money"
      routerLinkActive="active"
      (click)="navigateAndClose()">
      <i class="ti ti-moneybag"></i> Lent Money
    </a>
  </nav>
</div>
